parameters:
    level: 8
    paths:
        - controllers
        - dto
        - services
        - http
        - components
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#Access to static property \$app on an unknown class Yii#'
        - '#Constant YII_DEBUG not found#'
        - '#does not specify its types#'